[main]
Description=PROFILENAME
Host=DYNIP
AuthType=1
GroupName=GROUPNAME
GroupPwd=GROUPKEY
EnableISPConnect=0
ISPConnectType=0
ISPConnect=
ISPCommand=
Username=USERNAME
SaveUserPassword=1
EnableBackup=0
BackupServer=
EnableNat=1
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=
DHGroup=2
ForceKeepAlives=0
enc_GroupPwd=
UserPassword=USERPASSWORD
enc_UserPassword=
NTDomain=
EnableMSLogon=0
MSLogonType=0
TunnelingMode=0
TcpTunnelingPort=10000
PeerTimeout=0
EnableLocalLAN=1
SendCertChain=0
VerifyCertDN=
EnableSplitDNS=1
SingleDES=0
SPPhonebook=
UseLegacyIKEPort=0
X-NM-Use-NAT-T=1
X-NM-Force-NAT-T=0
X-NM-SaveGroupPassword=1

